/*import local fonts*/
@font-face {
    font-family: "Carrois Gothic SC";
    src: url("../font/Carrois_Gothic_SC/CarroisGothicSC.ttf");
}

/*---start-wrap*/
.wrap {
    width: 1060px;
    margin: 0 auto;
}

/*---start-header*/
.header {
    margin-bottom: 28px;
	border-bottom: 1px ridge #FF8400;
	background: #353534;
}

/*---start-logo*/
.logo {
    float: left;
    padding: 22.5px 0px 0px 0px;
}

.logo img{
    height: 50px;
    width: auto;
}

/*---end-logo*/

/*---start-header-nav*/
.header-nav {
    float: right;
}

.header-nav ul li {
    display: inline-block;
}

.header-nav ul li a {
    color: #fff;
    text-transform: uppercase;
    padding: 32px 15px 32px 15px;
    line-height: 5.6em;
    font-family: 'Carrois Gothic SC', sans-serif;
    -webkit-transition: all .9s;
    -moz-transition: all .9s;
    -o-transition: all .9s;
    -ms-transition: all .9s;
    transition: all .9s;
}

.header-nav ul li a:hover {
    color:#FF8400;
}

/*---end-header-nav*/
/*---End-header*/

/*---content-galery----*/
.content-gallery h3 {
    margin: 10px 10px 0 10px;
    color: #FFF;
    font-family: 'Carrois Gothic SC', sans-serif;
    font-size: 23px;
    letter-spacing: -1px;
    font-weight: bold;
}

.boxgrid {
    width: 331px;
    height: 260px;
    margin: 10px;
    float: left;
    background: #161613;
    border: ridge 1px rgb(255, 255, 255);
    overflow: hidden;
    position: relative;
    border-radius: 0.3em;
    /*box-shadow: 0px 0px 10px rgb(192, 192, 192);*/
    box-shadow: 0 0 10px rgb(192, 192, 192);
}

.cover boxcaption {
    top: 170px;
}

.boxgrid img {
    position: absolute;
    top: 0;
    left: 0;
    border: 0;
}

.boxgrid p {
    padding: 0 10px;
    color: #afafaf;
    font-weight: bold;
    font: 10pt "Lucida Grande", Arial, sans-serif;
}

.boxcaption {
    float: left;
    position: absolute;
    background: #000;
    height: 100px;
    width: 100%;
    opacity: .8;
    /* For IE 5-7 */
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
    /* For IE 8 */
    -MS-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
}

.captionfull .boxcaption {
    top: 260;
    left: 0;
}

.caption .boxcaption {
    top: 179px;
    left: 0;
}
/*---end-content-gallery---*/


/*---footer----*/
.footer {
    padding: 20px;
	background: #353534;
	border-top: 1px ridge rgba(255, 148, 65, 0.75);
}

.footer p {
    text-align: center;
}

.footer p.link {
    color: #eee;
    font-size: 13px;
    font-family: 'Carrois Gothic SC', sans-serif;
}

.footer p.link a {
    color: #eee;
    text-decoration: none;
    font-size: 13px;
}

.footer p.link a:hover {
    color: #fff;
    text-decoration: underline;
}
/*---end footer----*/


/*----contact----*/
.contact {
    margin-bottom: 33px;
}

.contact-form {
    float: left;
    padding-right: 20px;
}

.contact-sidebar {
    float: right;
    width: 336px;
}

.map {
    padding-top: 82px;
}

.contact h3 {
    color: #2C9BB6;
    font-size: 25px;
    text-transform: uppercase;
    padding: 0 0 12px 0;
}

.contact-form form span {
    display: block;
}

form span {
    font-size: 18px;
    padding-bottom: 5px;
    color: #FF8400;
    font-family: 'Carrois Gothic SC', sans-serif;
}

.contact-form form textarea,
.contact-form form input[type=submit],
.contact-form form input[type=text] {
    border: 1px solid #ddd;
    padding: 7px;
    width: 594px;
    outline: none;
    color: #666;
    font-size: 18px;
    border-radius: 3px;
    font-family: Arial, Helvetica, sans-serif;
}

.map iframe {
    color: #FF8400;
    font-family: 'Carrois Gothic SC', sans-serif;
}

.contact-form form input[type=submit] {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.50);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.50);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.50);
    background: #0160A4;

    color: #FFFFFF !important;
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
    line-height: 1;
    overflow: visible;
    padding: 10px 25px;
    position: relative;
    text-decoration: none;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
    width: auto;
    text-align: center;
}

.contact-form form input[type=submit] {
    background-color: #FF8400;
    -webkit-transition: all .9s;
    -moz-transition: all .9s;
    -o-transition: all .9s;
    -ms-transition: all .9s;
    transition: all .9s;
}

.contact-form form input[type=submit]:hover {
    background: #666;
    color: #FF8400;
}

form textarea {
    height: 201px;
    color: #666;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

.contact-form h4 {
    font-family: 'Carrois Gothic SC', sans-serif;
    font-size: 27px;
    color: #FF8400;
    text-align: left;
    padding: 10px 0px;
}

/*---End-wrap*/
/*------responive-design--------*/
@media screen and (max-width: 1024px) {
    .wrap {
        width: 85%;
    }

    .boxgrid {
        width: 30.7%;
        margin: 10px 19.8px 10px 0px;
    }

    .contact-form {
        float: left;
        width: 48%;
        padding: 0px;
    }

    .contact-form form textarea, .contact-form form input[type=text] {
        width: 92%;
    }
}

@media screen and (max-width: 800px) {
    .wrap {
        width: 90%;
    }

    .boxgrid {
        width: 30%;
    }

    .services-sidebar {
        width: 28%;
    }

    .contact-form {
        width: 100%;
        margin-bottom: 1.5em;
    }

    .map iframe {
        width: 100%;
    }

    .contact-form form textarea, .contact-form form input[type=text] {
        width: 97%;
    }

    .contact-form form textarea {
        resize: none;
    }

    .boxgrid
    {
        box-shadow: 0px 0px 5px rgb(192, 192, 192);
    }

}

@media screen and (max-width: 736px) {
    .boxgrid {
        width: 46%;
    }
}

@media screen and (max-width: 640px) {
    .wrap {
        width: 90%;
    }

    .logo {
        float: none;
        text-align: center;
        padding: 34.5px 0px 0px 0px;
    }

    .header-nav {
        float: none;
        text-align: center;
    }

    .header-nav ul li a {
        padding: 0px 10px;
    }

    .header-nav ul li {
        display: inline;
    }

    .boxgrid {
        width: 45.4%;
    }

    .blog-img {
        width: 100%;
        padding-top: 7px;
    }

    .footer p {
        width: 100%;
        padding: 0px;
    }

    .footerlinks {
        width: 32%;
    }
}

@media screen and (max-width: 600px) {
    .bloder-content {
        width: 100%;
    }

    .services-sidebar {
        width: 100%;
    }

    .product-grid, .last1 {
        width: 41%;
    }
}

@media screen and (max-width: 480px) {
    .boxgrid {
        width: 100%;
    }

    .footerlinks {
        width: 100%;
    }
}

@media screen and (max-width: 414px) {
    .header-nav ul li a {
        padding: 0px 8px;
        line-height: 2.6em;
    }

    .logo {
        padding: 20px 0px 0px 0px;
    }
}

@media screen and (max-width: 384px) {
    .wrap {
        width: 89%;
    }

    .header-nav ul li a {
        padding: 0px 4px;
    }
}

@media screen and (max-width: 375px) {
    .wrap {
        width: 88%;
    }
}

@media screen and (max-width: 320px) {
    .wrap {
        width: 87%;
    }

    .header-nav ul li a {
        padding: 0px 3px;
        font-size: 14px;
    }
}