{% extends 'base.html' %}

{% block title %}
    Bartender - Admin
{% endblock %}


{% block content %}

    <div class="about">

        <div class="contact-form">
            <h4>Login to manage the system</h4>
            <form method="post" title="login" name="loginform">
                <div>
                    <span><label>Username</label></span>
                    <span><input type="text" value="" name="username" title="username"/></span>
                </div>
                <div>
                    <span><label>Password</label></span>
                    <span><input type="password" value="" name="password" title="password"/></span>
                </div>
                <div>
                    <span><input type="submit" value="Login" id="submit"></span>
                </div>
                {% if error != "" %}
                <p>{{ error }}</p>
                {% endif %}
            </form>

        </div>
    </div>

    <div class="clear"></div>



{% endblock %}

{% block scripts %}

{% endblock %}