{% extends 'base.html' %}

{% block title %}
    Bartender - {{ drink.name }}
{% endblock %}


{% block content %}
    <div class="detail-box">
        <img src="{{ drink.img }}" class="detail-img">
    </div>


    <div class="detail-description">
        <h1>{{ drink.name }}</h1>
        <p>{{ drink.description }}</p>
        <br>
        <p>
            Ingredients:
            {% for ingredient in drink.ingredients %}
                {{ ingredient }}
            {% endfor %}
        </p>

        {% if web_orders == True %}
            <br>
            <div class="contact-form">
                <form method="post" title="drink" name="drinkform">
                    <input type="text" value="drink" title="drink" name="drink" hidden="hidden">
                    <div>
                        <span><input type="submit" value="Make!" id="submit"></span>
                    </div>
                </form>
            </div>
        {% endif %}

    </div>

{% endblock %}

{% block scripts %}

{% endblock %}