{% extends 'base.html' %}

{% block title %}
    Bartender - Select Cocktail
{% endblock %}


{% block content %}



    {% for drink in drink_list %}

        <div class="content-gallery">
            <a href="/drink?drink={{ drink.base64name }}">
                <div class="boxgrid caption">
                    <img src="{{ drink.img }}"/>
                    <div class="cover boxcaption">
                        <h3>"{{ drink.name }}"</h3>
                        <p>{{ drink.description_short }}</p>
                    </div>
                    <div class="clear"></div>
                </div>
            </a>
        </div>

    {% endfor %}

{% endblock %}


{% block scripts %}
    <script src="../static/script/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            //To switch directions up/down and left/right just place a "-" in front of the top/left attribute-->
            //Caption Sliding (Partially Hidden to Visible)-->
            $('.boxgrid.caption').hover(function () {
                $(".cover", this).stop().animate({top: '170px'}, {queue: false, duration: 160});
            }, function () {
                $(".cover", this).stop().animate({top: '220px'}, {queue: false, duration: 160});
            });
        });
    </script>
{% endblock %}